<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Service name="Catalina">
        <Connector port="18080"/>
        <Connector port="18081"/>
        <Connector port="18082"/>
        <Engine defaultHost="localhost">
         <!--本项目暂时只支持单host   -->
          <Host name = "localhost">
           <Context path="/b" docBase="e:/project/diytomcat/b" />
          </Host>
        </Engine>
    </Service>

    <Context path="/b" docBase="e:/project/Vcatomcat/b" />
</Server>

